<div class="form row">
  <div class="col-md-4">
    <label>Codigo</label>
    <input type="text" [value]="Codigo" class="col-md-4">
  </div>
  <div class="col-md-4">
    <label>Data de Entrega</label>
    <input type="date" [value]="DataEntrega" class="col-md-4">
  </div> <div class="col-md-4">
    <label>Local</label>
    <input type="text" [value]="Local" class="col-md-4">
  </div> <div class="col-md-4">
    <label>Tipo</label>
    <input type="text" [value]="Tipo" class="col-md-4">
  </div> <div class="col-md-4">
    <label>Marca</label>
    <input type="text" [value]="Marca" class="col-md-4">
  </div> 
  <div class="col-md-4">
    <label>Descrição</label>
    <input type="text" [value]="Descricao" class="col-md-4">
  </div>
  <div class="col-md-4">
    <label>Preço</label>
    <input type="text" mask="n2" [value]="Preco" class="col-md-4">
  </div>
  <div class="col-md-4">
    <label>Tamanho</label>
    <input type="text" [value]="Tamanho" class="col-md-4">
  </div>
  <div class="col-md-4">
    <label>Cor</label>
    <input type="text" [value]="Cor" class="col-md-4">
  </div>
</div>